@model CJG.Web.External.Areas.Int.Models.DebugLogViewModel

@{
    ViewBag.Title = "Debug Dashboard";
    Func<string, string> tr_class = (level)=> {
        switch (level)
        {
            case ("Info"):
                return "table-info";
            case ("Debug"):
                return "table-active";
            case ("Warning"):
                return "table-warning";
            case ("Error"):
                return "table-danger";
            default:
                return "";
        }
    };
}

<style>
    td.left {
        text-align: left;
    }
</style>

<h1>@ViewBag.Title</h1>

<div id="log">
    @using (Html.BeginForm("Log", "Debug", FormMethod.Post, new { id = "Filter" } ))
    {
        <div>
            @Html.LabelFor(model => model.Page)
            @Html.TextBoxFor(model => model.Page)
        </div>
        <div>
            @Html.LabelFor(model => model.Level)
            @Html.TextBoxFor(model => model.Level)
        </div>
        <div>
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName)
        </div>
        <div>
            @Html.LabelFor(model => model.DateAdded)
            @Html.TextBoxFor(model => model.DateAdded)
        </div>
        <div>
            @Html.LabelFor(model => model.Message)
            @Html.TextBoxFor(model => model.Message)
        </div>
        <div>
            <input type="submit" value="Filter" />
        </div>

        <table class="table table-striped table-hover table-sm">
            <thead class="thead-default">
                <tr>
                    <td>Date</td>
                    <td>Level</td>
                    <td class="left">Message</td>
                    <td class="left">Exception</td>
                    <td>UserName</td>
                    <td class="left">Url</td>
                </tr>
            </thead>
            @{ foreach (var log in Model.Logs)
                {
                    <tr class="@tr_class(log.Level)">
                        <td>@String.Format("{0:yyyy-MM-dd hh:mm:ss}", log.DateAdded.ToLocalTime())</td>
                        <td>@log.Level</td>
                        <td class="left">@log.Message</td>
                        <td class="left">@log.Exception</td>
                        <td>@log.UserName</td>
                        <td class="left">@log.Url</td>
                    </tr>
                }
            }
            <tfoot>
                <tr>
                    <td colspan="6">
                        @if (Model.Page > 1)
                        {
                            <a href="#" id="previous">Previous</a>
                        }
                        @if (Model.Total == Model.ItemsPerPage)
                        {
                            <a href="#" id="next">Next</a>
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>

<script>
    $(document).ready(function () {
        $('#previous').on('click', onPrevious);
        $('#next').on('click', onNext);
    });

    function onPrevious()
    {
        var page = Number($('#Page').val()) - 1;
        filterLog(page);
    }

    function onNext() {
        var page = Number($('#Page').val()) + 1;
        filterLog(page);
    }

    function filterLog(page)
    {
        $('#Page').val(page);
        $('#Filter').submit();
    }
</script>