@using CJG.Web.External.Areas.Ext.Controllers
@{
    ViewBag.Title = "Participant Report";
}

<div class="row" ng-controller="ParticipantReportingView" ng-grant-application-id="@ViewBag.GrantApplicationId">
    @Html.ActionLink("Return", nameof(ReportingController.GrantFileView), nameof(ReportingController).Replace("Controller", ""), new { grantApplicationId = ViewBag.GrantApplicationId }, new { @class = "link--back" })

    <program-title-label ng-model="model.ProgramTitleLabel"></program-title-label>

    <div class="grant-files">
        <div class="margin-bottom container-full-width">
            <h2>Participant Report</h2>

            <div ng-if="alert.message" class="row row--alert">
                <div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
            </div>

            <div style="display: block;" class="with-participant-report" ng-if="model.ApplicationStateExternal === @((int)CJG.Core.Entities.ApplicationStateExternal.ClaimSubmitted)">
                <div class="notice">
                    <div class="inline-help">
                        <p>Your claim report has been submitted and includes the participants reported below.</p>

                        <p>{{model.Participants.length}} out of {{model.MaxParticipantsAllowed}} participants have successfully reported their participant information.</p>
                    </div>
                </div>
            </div>

            <div style="display: block;" class="with-participant-report" ng-if="model.ParticipantsEditable && Model.ApplicationStateExternal !== @((int)CJG.Core.Entities.ApplicationStateExternal.ClaimSubmitted) && model.Participants.length > 0">
                <div class="notice">
                    <div class="inline-help">
                        <p>
                            You have been approved to train {{model.MaxParticipantsAllowed}} participants.
                            Use "Show participant invitation" below to send a link to your participants to enable them to submit their Participant Information Form.
                            Only participants eligible for the {{model.GrantProgramName}} should be reported.
                        </p>
                        <p>
                            <span id="enrollmentCount">{{model.Participants.length}}</span> out of {{model.MaxParticipantsAllowed}}
                            participants have successfully reported their participant information.
                            Remove any individuals that do not attend training.
                        </p>
                        <p>
                            <b>IMPORTANT! Participants on Employment Insurance (EI) or British Columbia Employment Assistance clients in receipt of Income Assistance</b>
                            -- Participants who are currently Employment Insurance or Income Assistance Clients must have approval prior to the start of training if they
                            wish to maintain their financial supports. Refer to Appendix A of the {{model.GrantProgramCode}} General Criteria for details.  EI or IA clients who do not obtain
                            pre-approval before participating in training may become ineligible for continued financial supports under EI or IA. All Participant Information
                            Forms are due no less than 5 business days prior to the start of training.  However, if you are applying for Participants who may currently be
                            Employment Insurance or Income Assistance Clients, please send notification to the <a href="mailto:{{model.GrantProgramCode}}@("@gov.bc.ca")">{{model.GrantProgramCode}}@("@gov.bc.ca")</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <div id="ParticipantList">
                    @Html.Partial("_ParticipantList")
                </div>

                <div class="wrapper--btn float-left" ng-if="model.ParticipantsEditable">
                    <button class="btn btn--primary btn--show-participant" data-simple-toggle=".copy-boxes .wrapper--participant-invitation" ng-click="section.showInvitation = !section.showInvitation">Show participant invitation</button>
                </div>

                <div class="wrapper--btn float-left" style="margin-left: 30px;" ng-if="model.CanApplicantReportParticipants">
                    <a class="btn btn--primary" href="/Part/Information/Applicant/View/{{model.InvitationKey}}">Report Participants</a>
                </div>

                <div class="notice float-left" style="max-width: 52%; margin: 0px 10px;" ng-if="model.CanApplicantReportParticipants">
                    <p>If a participant is not able to report by themselves using the participant invitation then you may report them yourself using Report Participant. The steps will include downloading a form and obtaining participant consent before you begin.</p>
                </div>
            </div>
            <div style="clear:both;">
            </div>

            <div ng-if="model.ParticipantsEditable && section.showInvitation">
                <div class="hidden wrapper--participant-invitation">
                    <div ng-if="model.Participants.length === 0">
                        <p>
                            <b>Getting Started with Participant Reporting</b>
                        </p>

                        <div class="notice notice--icon">
                            <p>You have been approved to train {{model.MaxParticipantsAllowed}} participants.</p>
                            <p>
                                <b>IMPORTANT! Participants on Employment Insurance (EI) or British Columbia Employment Assistance clients in receipt of Income Assistance</b>
                                -- Participants who are currently Employment Insurance or Income Assistance Clients must have approval prior to the start of training if
                                they wish to maintain their financial supports. Refer to Appendix A of the {{model.GrantProgramCode}} General Criteria for details.  EI or IA clients who do not
                                obtain pre-approval before participating in training may become ineligible for continued financial supports under EI or IA. All Participant
                                Information Forms are due no less than 5 business days prior to the start of training.  However, if you are applying for Participants who
                                may currently be Employment Insurance or Income Assistance Clients, please send notification to the <a href="mailto:{{model.GrantProgramCode}}@("@gov.bc.ca")">{{model.GrantProgramCode}}@("@gov.bc.ca")</a>.
                            </p>
                        </div>
                    </div>

                    <p>
                        Each participant must complete and submit a Participant Information Form in order to participate in the {{model.GrantProgramName}} program.
                        Only participants eligible for the {{model.GrantProgramName}} should be reported.
                    </p>

                    <p>
                        For your convenience, you may use the invitation below to provide participants with the link.
                        Please copy and paste it into your own email and send it to your participants.
                        You may revise the email to make it better suited to your business needs.
                    </p>

                    <p>You will be able to see who has completed their form in your Participant Report as soon as they have reported.</p>
                </div>

                <div class="copy-boxes">
                    <div class="wrapper--copy-section wrapper--email-template">
                        <div class="wrapper--btn">
                            <button type="button" class="btn btn--primary copy-to-clipboard" data-clipboard-target=".email-template">Copy Email</button>
                        </div>
                        <textarea class="copy-box email-template">{{model.InvitationEmailText}}</textarea>
                    </div>

                    <div class="wrapper--copy-section wrapper--copy-link">
                        <div class="wrapper--btn">
                            <button type="button" class="btn btn--primary copy-to-clipboard" data-clipboard-target=".link-only">Copy Link Only</button>
                        </div>
                        <textarea class="copy-box link-only">{{model.InvitationBrowserLink}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
