@using CJG.Application.Business.Models
@model PaymentRequestBatchPDFModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Name</title>

    <link href="~/css/styles.css" rel="stylesheet" />
    <style type="text/css" media="print">
        @@page {
            size: A4 landscape;
            margin: 0.27cm 1.27cm;
        }

        body {
            -webkit-print-color-adjust: exact !important;
        }
    </style>
</head>

<body>
    <div class="wrapper--request-payment-pdf">
        <!--Header-->
        <div class="request-payment-pdf-header-wrapper">
            <div class="request-payment-pdf-header">PAYMENT REQUEST</div>
            <table class="table--request-payment-pdf">
                <tbody>
                    <tr>
                        <td class="pdf-label">Requested by:</td>
                        <td class="pdf-text" colspan="5">@Model.RequestBy</td>
                    </tr>
                    <tr>
                        <td class="pdf-label">Description:</td>
                        <td class="pdf-text" colspan="5">@Model.Description</td>
                    </tr>
                    <tr>
                        <td class="pdf-label">Date Requested:</td>
                        <td class="pdf-text">@Model.DateRequested</td>

                        <td class="pdf-label">Number of Requests:</td>
                        <td class="pdf-text">@Model.NumberOfRequests</td>

                        <td class="pdf-label">Batch Number:</td>
                        <td class="pdf-text">@Model.Model.BatchNumber</td>
                    </tr>
                    <tr>
                        <td class="pdf-label">Certification:</td>
                        <td class="pdf-text" colspan="5">@Model.Certification</td>
                    </tr>
                    <tr>
                        <td class="pdf-label">Expense Authority:</td>
                        <td class="pdf-text" colspan="2">@Model.Authority</td>
                        <td class="pdf-label" colspan="3" rowspan="2">Signature:</td>
                    </tr>
                    <tr>
                        <td class="pdf-label">Program Phone:</td>
                        <td class="pdf-text" colspan="2">@Model.Phone</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Header-->

        @for (int i = 0; i < Model.PaymentRequests.Count; i++)
        {
            var item = Model.PaymentRequests[i] as PaymentRequestPDFModel;

            <div class="request-payment-pdf-row-wrapper">
                <table class="table--request-payment-pdf request-payment-pdf-row-top">
                    <tbody>
                        <tr>
                            <td class="pdf-label" rowspan="2">@($"{(i + 1):D2}")</td>
                            <td class="pdf-label"><br />Recipient</td>
                            <td class="pdf-label">Invoice<br />Date</td>
                            <td class="pdf-label">Invoice<br />Number</td>
                            <td class="pdf-label pdf-right">Invoice<br />Amount</td>
                            <td class="pdf-label">Qualified<br />Receiver</td>
                            <td class="pdf-label">Contract<br />Number</td>
                        </tr>
                        <tr>
                            <td class="pdf-text">@item.Recipient</td>
                            <td class="pdf-text">@item.InvoiceDate</td>
                            <td class="pdf-text">@item.InvoiceNumber</td>
                            <td class="pdf-text pdf-right">@item.InvoiceAmount</td>
                            <td class="pdf-text">@item.Receiver</td>
                            <td class="pdf-text">@item.ContractNumber</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table--request-payment-pdf request-payment-pdf-row-bottom">
                    <tbody>
                        <tr>
                            <td class="pdf-label no-border" rowspan="2">Recipient:</td>
                            <td class="pdf-text no-border" rowspan="2">@item.RecipientName<br />@Html.Raw(item.RecipientAddress)</td>
                            <td class="pdf-label">Business Number</td>
                            <td class="pdf-text no-border" rowspan="2">
                                @if (item.Duplicate)
                                {
                                    <text>Duplicate Request</text>
                                }
                            </td>
                            <td class="pdf-label">Payment Type</td>
                            <td class="pdf-label">Client Numb</td>
                            <td class="pdf-label">RESP</td>
                            <td class="pdf-label">Service Line</td>
                            <td class="pdf-label">STOB</td>
                            <td class="pdf-label">Project Code</td>
                        </tr>
                        <tr>
                            <td class="pdf-text">@item.BusinessNumber</td>
                            <td class="pdf-text@(item.IsAccrual ? " accrual" : "")">
                                @item.PaymentType
                            </td>
                            <td class="pdf-text">@item.ClientNumb</td>
                            <td class="pdf-text">@item.RESP</td>
                            <td class="pdf-text">@item.ServiceLine</td>
                            <td class="pdf-text">@item.STOB</td>
                            <td class="pdf-text">@item.ProjectCode</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        <div class="request-payment-pdf-footer-wrapper">
            -------------------------------------------------------------------------------------END OF LIST------------------------------------------------------------------------------------
        </div>
    </div>

    <script>
        window.onload = function () {
            @if (Model.PaymentRequests.Count > 0)
            {
                <text>window.print();</text>
            }
            else {
                <text>alert('All requests in the batch have been reconciled; no duplicate requests can be generated.'); afterPrint();</text>
            }
        }

        if (window.matchMedia) {
            window.matchMedia('print').addListener(function (media) {
                if (media.matches) {
                    beforePrint();
                } else {
                    afterPrint();
                }
            });
        }

        window.onbeforeprint = beforePrint;
        window.onafterprint = afterPrint;

        function beforePrint() {
        }

        function afterPrint() {
            setTimeout(window.close, 100);
        }
    </script>
</body>
</html>
