@using System.Linq

<div class="form--readonly" ng-controller="ChangeRequestView" ng-grant-application-id="@ViewBag.GrantApplicationId">
    <div class="form__group two-col">
        <label class="form__label" for="FileNumber">Agreement Number:</label>
        <div class="form__control">
            {{model.ScheduleA.AgreementNumber}}
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="Organization_LegalName">Applicant Name:</label>
        <div class="form__control">
            {{model.ScheduleA.ApplicantName}}
        </div>
    </div>
    <p><h3>Agreement Term</h3></p>
    <div class="form__group two-col">
        <label class="form__label" for="GrantAgreement_StartDate">Term Start Date:</label>
        <div class="form__control">
            {{toPST(model.ScheduleA.DeliveryDate.TermStartDate)}}
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="GrantAgreement_EndDate">Term End Date:</label>
        <div class="form__control">
            {{toPST(model.ScheduleA.DeliveryDate.TermEndDate)}}
        </div>
    </div>
    <div class="clearfix margin-top margin-bottom">
        <div class="pull-left">
            <h3 class="pull-left">Delivery Plan</h3>
        </div>
        <div class="pull-right" ng-if="model.AllowSubmitChangeRequest">
            <a class="btn btn--secondary" ng-click="cancelChangeRequest()" data-disableonsubmit="false">Cancel Change Request</a>
            <a class="btn btn--primary" ng-click="submitChangeRequest()" data-disableonsubmit="false">Submit Change Request</a>
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="DefaultTrainingProgram_CourseTitle">Training Program:</label>
        <div class="form__control">
            {{model.ScheduleA.CourseTitle}}
        </div>
    </div>
    <div class="form__group__wrapper" ng-repeat="trainingProgram in model.ScheduleA.TrainingPrograms">
        <div class="form__group two-col" ng-if="trainingProgram.RequestedTrainingProvider">
            <label class="form__label text--right">
                <span class="label label--{{model.ApplicationStateExternal == @((int)CJG.Core.Entities.ApplicationStateExternal.ChangeRequestSubmitted) ? 'danger' : 'incomplete'}}" style="text-align:right;">{{model.ApplicationStateExternal == @((int)CJG.Core.Entities.ApplicationStateExternal.ChangeRequestSubmitted) ? 'Change Requested to:' : 'Request Change to:'}}</span>
            </label>
            <div class="form__control" ng-if="model.AllowProviderChangeRequest">
                <a class="link" ng-click="showChangeTrainingProvider(trainingProgram.TrainingProvider.Id)">{{trainingProgram.RequestedTrainingProvider.Name}}</a>
            </div>
            <div class="form__control" ng-if="!model.AllowProviderChangeRequest">{{trainingProgram.RequestedTrainingProvider.Name}}</div>
        </div>
        <div class="form__group two-col">
            <label class="form__label">Training Provider:</label>
            <div class="form__control" ng-if="model.AllowProviderChangeRequest && !trainingProgram.RequestedTrainingProvider">
                <a class="link" ng-click="showChangeTrainingProvider(trainingProgram.TrainingProvider.Id)">{{trainingProgram.TrainingProvider.Name}}</a>
            </div>
            <div class="form__control" ng-if="!model.AllowProviderChangeRequest || trainingProgram.RequestedTrainingProvider">{{trainingProgram.TrainingProvider.Name}}</div>
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="DefaultTrainingProgram_StartDate">Training Start Date:</label>
        <div class="form__control" ng-if="model.AllowProviderChangeRequest">
            <a class="link" ng-click="showChangeDeliveryDates()">{{toPST(model.ScheduleA.DeliveryDate.StartDate)}}</a>
        </div>
        <div class="form__control" ng-if="!model.AllowProviderChangeRequest">
            {{toPST(model.ScheduleA.DeliveryDate.StartDate)}}
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="DefaultTrainingProgram_EndDate">Training End Date:</label>
        <div class="form__control" ng-if="model.AllowProviderChangeRequest">
            <a class="link" ng-click="showChangeDeliveryDates()">{{toPST(model.ScheduleA.DeliveryDate.EndDate)}}</a>
        </div>
        <div class="form__control" ng-if="!model.AllowProviderChangeRequest">
            {{toPST(model.ScheduleA.DeliveryDate.EndDate)}}
        </div>
    </div>
    <div class="form__group two-col">
        <div class="label-desc-group">
            <label class="form__label" for="GrantAgreement_ReimbursementClaimDueDate">
                Reimbursement Claim Due Date:
            </label>
            <br />
            <span class="text--small text--normal">To remain eligible for a grant, a Reimbursement Claim must be submitted on or before this date.</span>
        </div>
        <div class="form__control">
            {{toPST(model.ScheduleA.DeliveryDate.ReimbursementClaimDueDate)}}
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="GrantAgreement_ReimbursementClaimDueDate">
            Number of Participants in Training Program:
        </label>
        <div class="form__control">
            {{model.ScheduleA.NumberOfParticipant}}
        </div>
    </div>
    <div class="form__group two-col">
        <label class="form__label" for="GrantAgreement_ReimbursementClaimDueDate">
            Participant Name(s):
        </label>
        <div class="form__control">
            @foreach (var pif in Model.ApprovedParticipants)
            {
                <div>@pif.LastName, @pif.FirstName</div>
            }
        </div>
    </div>

    <h3>Eligible Training Costs</h3>

    <table id="tblExpenses" class="table table--expenses js-table-expense-list">
        <thead>
            <tr>
                <th>Expense type</th>
                <th class="num-col">Number of Participants</th>
                <th class="num-col">Cost per Participant</th>
                <th class="num-col">Total Training Cost</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="eligibleCost in model.ScheduleA.EligibleCosts">
                <td>{{eligibleCost.EligibleExpenseType.Caption}}</td>
                <td class="num-col" ng-if="model.ScheduleA.ShowAgreedCosts">{{eligibleCost.AgreedMaxParticipants}}</td>
                <td class="num-col" ng-if="!model.ScheduleA.ShowAgreedCosts">{{eligibleCost.EstimatedParticipants}}</td>
                <td class="num-col" ng-if="model.ScheduleA.ShowAgreedCosts">{{eligibleCost.AgreedMaxParticipantCost | currency : '$' : 2}}</td>
                <td class="num-col" ng-if="!model.ScheduleA.ShowAgreedCosts">{{eligibleCost.EstimatedParticipantCost | currency : '$' : 2}}</td>
                <td class="num-col" ng-if="model.ScheduleA.ShowAgreedCosts">{{eligibleCost.AgreedCost | currency : '$' : 2}}</td>
                <td class="num-col" ng-if="!model.ScheduleA.ShowAgreedCosts">{{eligibleCost.EstimatedCost | currency : '$' : 2}}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td><b>Totals</b></td>
            <td></td>
            <td></td>
            <td class="num-col">
                <b>{{ model.ScheduleA.TotalAgreedCost | currency : '$' : 2 }}</b>
            </td>
        </tr>
        <tr>
            <td><b>Employer contribution</b></td>
            <td></td>
            <td></td>
            <td class="num-col" ng-if="model.ScheduleA.ShowContributionColumn">
                <b>{{ model.ScheduleA.TotalAgreedEmployerContribution | currency : '$' : 2 }}</b>
            </td>
        </tr>
        <tr>
            <td><b>Requested government contribution</b></td>
            <td></td>
            <td></td>
            <td class="num-col">
                <b>{{ model.ScheduleA.TotalAgreedMaxReimbursement | currency : '$' : 2 }}</b>
            </td>
        </tr>
    </table>
</div>