@model CJG.Core.Entities.User

<h2>User</h2>
<table>
    <tr>
        <td>Name</td>
        <td>
            @Html.DisplayFor(m => m.FirstName, new { htmlAttributes = new { placeholder = "First Name" } })
            @Html.DisplayFor(m => m.LastName, new { htmlAttributes = new { placeholder = "Last Name" } })
            
        </td>
    </tr>
    <tr>
        <td>Position/Title</td>
        <td>@Html.EditorFor(m => m.JobTitle)</td>
    </tr>
    <tr>
        <td>Email Address</td>
        <td>
            @Html.DisplayFor(m => m.EmailAddress)
            
        </td>
    </tr>
    <tr>
        <td>Telephone Number</td>
        <td>
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { placeholder = "xxx xxx xxxx" } })
            @Html.EditorFor(m => m.PhoneExtension)
        </td>
    </tr>
</table>
