@{
    ViewBag.Title = "Review your application";
}
<div ng-controller="ApplicationReviewView" ng-grant-application-id="@ViewBag.GrantApplicationId">
    <div class="row">
        <div class="main">

            <div ng-if="alert.message" class="row row--alert">
                <div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
            </div>

            <h1 class="header--large sentence--case">Submit your application</h1>
            <p class="subheader--step">Step 1 of {{model.Steps}}: Review your application</p>

            <p>Please review your application carefully. You can use the edit buttons in each section to make any changes. Once you submit the application, you will not be able to make changes unless you withdraw and re-apply.</p>

            <div class="heading-group">
                <h4 class="light">Applicant contact</h4>
            </div>
            @Html.Partial("_ApplicantContactView")
            <div class="heading-group">
                <h4 class="light">Applicant</h4>
            </div>
            @Html.Partial("_ApplicantView")
            <div ng-show="model.ProgramType == @((int)CJG.Core.Entities.ProgramTypes.EmployerGrant)">
                <div class="heading-group">
                    <h4 class="light">Grant selection</h4>
                    <a class="btn btn--secondary" href="/ext/Application/Grant/Selection/View/{{model.Id}}/0">Edit</a>
                </div>
                @Html.Partial("_GrantSelectionView")

                <div class="heading-group">
                    <h4 class="light">Training provider</h4>
                    <a class="btn btn--secondary" href="/ext/training/provider/view/{{model.Id}}/{{model.TrainingProvider.Id}}">Edit</a>
                </div>
                @Html.Partial("_TrainingProviderView")

                <div class="heading-group">
                    <h4 class="light">Training program</h4>
                    <a class="btn btn--secondary" href="/ext/training/program/view/{{model.Id}}/{{model.TrainingProgram.Id}}">Edit</a>
                </div>
                @Html.Partial("_TrainingProgramView")

                <div class="heading-group">
                    <h4 class="light">Cost estimate</h4>
                    <a class="btn btn--secondary" href="/Ext/Application/training/cost/view/{{model.Id}}">Edit</a>
                </div>
                @Html.Partial("_TrainingCostView")

                <div ng-show="model.ProgramType == @((int)CJG.Core.Entities.ProgramTypes.EmployerGrant) && model.EnableBusinessCase">
                    <div class="heading-group">
                        <h4 class="light">{{model.BusinessCaseHeader}}</h4>
                        <a class="btn btn--secondary" href="/Ext/Application/Business/Case/View/{{model.Id}}">Edit</a>
                    </div>
                    @Html.Partial("_BusinessCaseView")
                </div>

                <div ng-show="model.EnableAttachments">
                    <div class="heading-group">
                        <h4 class="light">{{model.AttachmentsHeader}}</h4>
                        <a class="btn btn--secondary" href="/Ext/Application/Attachments/View/{{model.Id}}">Edit</a>
                    </div>
                    @Html.Partial("_AttachmentsView")
                </div>

                <div ng-show="model.ProgramType == @((int)CJG.Core.Entities.ProgramTypes.EmployerGrant)">
                    <div class="heading-group">
                        <h4 class="light">Participants</h4>
                        <a class="btn btn--secondary" href="/Ext/Reporting/Participant/View/{{model.Id}}">Edit</a>
                    </div>
                    @Html.Partial("_ParticipantList")                
                </div>
            </div>
            <div class="button-group">
                @Html.ActionLink("Cancel", "ApplicationOverviewView", "Application", new { grantApplicationId = (int)ViewBag.GrantApplicationId }, new { @class = "btn btn--secondary" })
                <a class="btn btn--primary btn--forward" value="Continue" href="{{model.NextStepUrl}}">Continue</a>
            </div>
        </div>
    </div>
</div>