@using CJG.Web.External.Areas.Int.Controllers
@{
    ViewBag.Title = "Grant Agreement";
}

<div ng-controller="GrantAgreement" ng-grant-application-id="@ViewBag.GrantApplicationId">
    <div class="application-header">
        <div class="clearfix">
            <p class="grant-summary__filenbr" style="text-overflow: inherit;">
                {{grantAgreement.ApplicationWorkflowViewModel.FileNumber}} {{grantAgreement.ApplicationWorkflowViewModel.FileName}} (start date {{toPST(grantAgreement.DeliveryStartDate)}})
            </p>
            <h1>{{grantAgreement.ApplicationWorkflowViewModel.OrganizationLegalName}}</h1>
        </div>
    </div>

    <div class="application-body">
        <div>
            @Html.ActionLink("Return", nameof(ApplicationController.ApplicationDetailsView), typeof(ApplicationController), new { grantApplicationId = ViewBag.GrantApplicationId }, new { @class = "link--back" })
        </div>
        <h3 class="pull-left">Grant Agreement</h3>
        <div class="form__group float-right" ng-if="section.versions.length > 0">
            <div class="form__label">Version:&nbsp;</div>
            <div class="form__control float-right">
                <div class="control-wrapper selectmenu-wrapper">
                    <div class="selectmenu">
                        <select ng-model="grantAgreement.Version" class="select--medium-small" ng-options="version as version for version in section.versions" ng-change="changeVersion()"></select>
                    </div>
                </div>
            </div>
        </div>

        <ul class="panel-section-list">
            <li>@Html.Action(nameof(GrantAgreementController.CoverLetterView))</li>
            <li>@Html.Action(nameof(GrantAgreementController.ScheduleAView))</li>
            <li>@Html.Action(nameof(GrantAgreementController.ScheduleBView))</li>
        </ul>
    </div>
</div>
