@model CJG.Web.External.Areas.Part.Models.ParticipantInfoStep1ViewModel
@using CJG.Core.Entities

@using (Html.BeginForm())
{
    <div id="step1-participant-info">
        <p class="subheader--step">Step 1 of 6</p>
        <h2 class="subheader">Confirmation of Participation</h2>
         
        <p>You are confirming your intention to attend the following training:</p>

        <dl class="info-list">
            @if (Model.ProgramType == ProgramTypes.WDAService)
            {
                <dt>Applicant</dt>
            }
            else
            {
                <dt>Employer</dt>
            }
            <dd>
                @Model.ProgramEmployerName
            </dd>
            @if (Model.ProgramType == ProgramTypes.WDAService)
            {
                <dt>Applicant contact name</dt>
            }
            else
            {
                <dt>Employer contact name</dt>
            }
            <dd>
                @Model.ProgramSponsorName
            </dd>
            <dt>Training description</dt>
            <dd>
                @Model.ProgramDescription
            </dd>
            <dt>Start date</dt>
            <dd>
                @Model.ProgramStartDate.ToString("yyyy-MM-dd")
            </dd>
        </dl>

        <div ng-if="@Model.GrantProgramId != 2">
            <!--2 is for ETG-->
            <p>
                As the
                @if (Model.ProgramType == ProgramTypes.WDAService)
                {
                    <span>applicant </span>
                }
                else
                {
                    <span>employer </span>
                }
                may be eligible for @Model.GrantProgramName benefits,
                there are reporting requirements for your participation.
            </p>

            <p>
                Following your confirmation to attend training (below) and entry of your personal information,
                you will be asked to confirm your consent for the collection and use of your personal information.
            </p>

            <p>Be prepared with the following information:</p>

            <ul>
                <li>
                    Your Social Insurance Number
                </li>
                <li>
                    Your National Occupation Classification – see
                    <a href="http://www.cic.gc.ca/english/immigrate/skilled/noc.asp" target="_blank">http://www.cic.gc.ca/english/immigrate/skilled/noc.asp</a>
                </li>
            </ul>

            <p>
                All steps that follow must be completed for your training to meet grant eligibility requirements. If you exit without completing all steps or your session idle longer than @Model.TimeoutPeriod minutes, then you will need to redo all steps again. Please follow all steps carefully.
            </p>

            <p>If you will attend the training please complete the Captcha below and confirm your attendance.</p>
        </div>

        <div ng-if="@Model.GrantProgramId == 2">
            <p>
                To participate in training through the @Model.GrantProgramName, you are required to provide personal information.
                You will also be asked to confirm your consent for the collection and use of this information.
            </p>

            <p>
                <b>Important:</b> Participants that are on Employment Insurance (EI) or in receipt of Income Assistance (IA) 
                who do not obtain approval before training starts may become ineligible for financial support under EI or IA. 
                Please review Appendix A of the <a href="https://www.workbc.ca/getmedia/6e2d9797-4503-4675-b8a3-68e350ff1f78/ETG-Eligibility-Criteria-Version-List.pdf.aspx" target="_blank">ETG Eligibility Criteria</a> for instructions on how to ensure your benefits will not be impacted.
            </p>

            <p>
                Before you begin your application, please be prepared with the following:
                <ul>
                    <li>
                        Your Social Insurance Number
                    </li>
                    <li>
                        If you are unemployed, the National Occupation Classification code after training will be completed.
                    </li>
                    <li>
                        If you are currently employed, the National Occupation Classification code before and after training.
                    </li>
                </ul>
            </p>

            <p>
                National Occupation Classification codes can be searched here:
                <br><a href="http://www.cic.gc.ca/english/immigrate/skilled/noc.asp" target="_blank">http://www.cic.gc.ca/english/immigrate/skilled/noc.asp</a>. 
                If you are unsure which code to select, please contact your employer. WorkBC agents are also available to help via email,
                online chat or telephone at <a href="https://www.workbc.ca/Contact-Us.aspx" target="_blank">https://www.workbc.ca/Contact-Us.aspx</a>.
            </p>
            
            <p>
                All steps that follow must be completed. If you exit without completing all steps, or if your session idles longer than 30 minutes, then you will need to start over.
            </p>

            <p>
                To begin, please complete the Captcha below and confirm you will attend training. Don’t see the Captcha? Try refreshing the page.
            </p>
        </div>
         
        <div class="margin-bottom" id="recaptcha" data-site-key="@Model.RecaptchaSiteKey"></div>
         
        <div>
            @if (Model.RecaptchaEnabled)
            {
                <button type="submit" id="BtnS1Submit" onclick="BtnS1Submit.disabled = true; submit();" class="btn btn--primary js-btn-submit" ng-disabled="!section.validRecaptcha">I will attend training</button>
            }
            else
            {
                <button type="submit" id="BtnS1Submit" onclick="BtnS1Submit.disabled = true; submit();" class="btn btn--primary js-btn-submit">I will attend training</button>
            }
        </div>
        <br />
        <br />

        <p>If you will not attend training then click <a href="/Part/Information/Exit" class="btn btn--primary js-btn-cancel">Exit</a></p>

        <p>NEXT STEP: Contact Information</p>

    </div>
}
