@model CJG.Web.External.Areas.Part.Models.ParticipantInfoStep1ViewModel

@using (Html.BeginForm())
{
    <div id="step1-participant-info">
        <p class="subheader--step">Step 1 of 6</p>
        <h2 class="subheader">Confirmation of Participation</h2>
         
        <p>You are confirming your intention to attend the following training:</p>

        <dl class="info-list">
            <dt>Employer</dt>
            <dd>@Model.ProgramEmployerName</dd>

            <dt>Employer contact name</dt>
            <dd>@Model.ProgramSponsorName</dd>
            
            <dt>Training description</dt>
            <dd>
                @Model.ProgramDescription
            </dd>
            <dt>Start date</dt>
            <dd>
                @Model.ProgramStartDate.ToString("yyyy-MM-dd")
            </dd>
        </dl>

        <div>
            
            <p>Welcome,</p>

            <p>You've been invited by your employer to participate in training sponsored by the Government of Canada and the Province of B.C. You are not required to pay for training or related expenses. This training is free for participants to attend.</p>
            <p>Before the application can be submitted by your employer and the training can begin, we need to collect some information from you. Don’t worry, we'll guide you every step of the way. If you’re wondering how your personal information will be used, please check out our <a href="https://www.workbc.ca/find-loans-and-grants/industry-and-employers/bc-employer-training-grant/frequently-asked-questions" target="_blank">FAQs</a>.</p>
            <p>Here’s what you need to do:</p>

            <ol class="step-1-list">
                <li>
                    <strong>Gather necessary information:</strong>
                    <br/>
                    <ul>
                        <li>Your Social Insurance Number</li>
                        <li>Your National Occupational Classification (NOC) code (before & after training). You can choose your NOC code from a drop-down list on the following screen.</li>
                        <li>If you need assistance choosing your NOC, please talk to your employer.</li>
                    </ul>
                </li>
                <li>
                    <strong>Protect your benefits:</strong>
                    <br/>
                    <ul>
                        <li>If you are currently receiving Employment Insurance or Income Assistance, please review the instructions here to ensure your benefits continue.</li>
                    </ul>
                </li>
                <li>
                    <strong>Complete this form:</strong>
                    <br/>
                    <ul>
                        <li>Fill in the Captcha below to confirm you will attend training. If you don’t see the Captcha, try refreshing this web page.</li>
                        <li>If you don’t complete this form in 30 minutes, you will have to start over.</li>
                    </ul>
                </li>
            </ol>
            
            <p><strong>Need assistance? Feel free to contact us at <a href="mailto:ETG@gov.bc.ca" target="_blank">ETG@gov.bc.ca</a>.</strong></p>
        </div>

        <div class="margin-bottom" id="recaptcha" data-site-key="@Model.RecaptchaSiteKey"></div>
         
        <div>
            @if (Model.RecaptchaEnabled)
            {
                <button type="submit" id="BtnS1Submit" onclick="BtnS1Submit.disabled = true; submit();" class="btn btn--primary js-btn-submit" ng-disabled="!section.validRecaptcha">I will attend training</button>
            }
            else
            {
                <button type="submit" id="BtnS1Submit" onclick="BtnS1Submit.disabled = true; submit();" class="btn btn--primary js-btn-submit">I will attend training</button>
            }
        </div>
        <br />
        <br />

        <p>If you will not attend training then click <a href="/Part/Information/Exit" class="btn btn--primary js-btn-cancel">Exit</a></p>

        <p>NEXT STEP: Contact Information</p>

    </div>
}
