<div ng-if="model.ParticipantInfoStep3ViewModel" ng-show="model.ParticipantInfoStep0ViewModel.Step == 3">
    <p class="subheader--step">Step 3 of {{model.ParticipantInfoStep0ViewModel.TotalSteps}}: Demographic information</p>

    @Html.DropDownList(new FormControl
    {
        Label = "Canadian residency status <abbr title='Required'>*</abbr>",
        Model = "model.ParticipantInfoStep3ViewModel.CanadianStatus",
        Options = "item.Key as item.Value for item in model.ParticipantInfoStep3ViewModel.CanadianStatuses",
        CssClass = "input--medium",
        IsInnerModel = true,
        DefaultOverride = true,
        OnChange = "resetIndigenous()"
    })
    <div ng-if="model.ParticipantInfoStep3ViewModel.CanadianStatus == 1" class="form__group form__group--radio-inline">
        <div class="form__label">
            Do you consider yourself as an Indigenous person <abbr title="Required">*</abbr>
        </div>
        
        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl
           {
               Label = "Yes",
               Id = "PersonAboriginalYes",
               Model = "model.ParticipantInfoStep3ViewModel.PersonAboriginal",
               Value = "1",
               OnChange = "resetHiddenControlsforPersonAboriginal()"
           })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
           {
               Label = "No",
               Id = "PersonAboriginalNo",
               Model = "model.ParticipantInfoStep3ViewModel.PersonAboriginal",
               Value = "2",
               OnChange = "resetHiddenControlsforPersonAboriginal()"
           })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
           {
               Label = "Prefer not to answer",
               Id = "PersonAboriginalPreferNot",
               Model = "model.ParticipantInfoStep3ViewModel.PersonAboriginal",
               Value = "3",
               OnChange = "resetHiddenControlsforPersonAboriginal()"

           })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep3ViewModel.PersonAboriginal", true)
        </div>
    </div>

    <div ng-show="model.ParticipantInfoStep3ViewModel.PersonAboriginal == 1">
        @Html.DropDownList(new FormControl
   {
       Label = "Are you First Nations, Métis, or Inuit <abbr title='Required'>*</abbr>",
       Model = "model.ParticipantInfoStep3ViewModel.AboriginalBand",
       Options = "item.Key as item.Value for item in model.ParticipantInfoStep3ViewModel.AboriginalBands",
       CssClass = "input--medium",
       IsInnerModel = true,
       DefaultOverride = true,
       OnChange = "resetHiddenControlsforAboriginalBand()"
   })

        <div ng-show="model.ParticipantInfoStep3ViewModel.AboriginalBand == 1">
            <div class="form__group form__group--radio-inline">
                <div class="form__label">
                    Do you live? <abbr title="Required">*</abbr>
                </div>

                <div>
                    <div class="form-item">
                        @Html.RadioButton(new FormControl
                        {
                            Label = "On Reserve",
                            Id = "LiveOnReserveOn",
                            Model = "model.ParticipantInfoStep3ViewModel.LiveOnReserve",
                            Value = "true"
                        })
                    </div>

                    <div class="form-item">
                        @Html.RadioButton(new FormControl
                        {
                            Label = "Off Reserve",
                            Id = "LiveOnReserveOff",
                            Model = "model.ParticipantInfoStep3ViewModel.LiveOnReserve",
                            Value = "false"
                        })
                    </div>

                    @Html.ValidationError("model.ParticipantInfoStep3ViewModel.LiveOnReserve", true)
                </div>
            </div>
        </div>
    </div>

    <div ng-if="model.ParticipantInfoStep3ViewModel.PersonAboriginal == 2 || model.ParticipantInfoStep3ViewModel.PersonAboriginal == 3"
         class="form__group form__group--radio-inline">
        <div class="form__label">
            Did you immigrate to Canada <abbr title="Required">*</abbr>
        </div>

        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Yes",
                    Id = "CanadaImmigrantYes",
                    Model = "model.ParticipantInfoStep3ViewModel.CanadaImmigrant",
                    Value = "true",
                    OnChange = "resetHiddenControlsforCanadaImmigrant()"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "No",
                    Id = "CanadaImmigrantNo",
                    Model = "model.ParticipantInfoStep3ViewModel.CanadaImmigrant",
                    Value = "false",
                    OnChange = "resetHiddenControlsforCanadaImmigrant()"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep3ViewModel.CanadaImmigrant", true)
        </div>


        <div ng-show="model.ParticipantInfoStep3ViewModel.CanadaImmigrant">
            @Html.TextBoxBlock(new FormControl
            {
                Label = "What year did you come to Canada <abbr title='Required'>*</abbr>",
                Model = "model.ParticipantInfoStep3ViewModel.YearToCanada",
                IsInnerModel = true,
                Size = "input--small",
                Options = "maxlength = '4'"
            })
        </div>
    </div>

    <div ng-if="model.ParticipantInfoStep3ViewModel.PersonAboriginal == 2 || model.ParticipantInfoStep3ViewModel.PersonAboriginal == 3" class="form__group form__group--radio-inline">
        <div class="form__label">
            Did you come to Canada as a refugee <abbr title="Required">*</abbr>
        </div>
        <div>
            <div class="form-item">
              
                @Html.RadioButton(new FormControl
                {
                    Label = "Yes",
                    Id = "CanadaRefugeeYes",
                    Model = "model.ParticipantInfoStep3ViewModel.CanadaRefugee",
                    Value = "true",
                    OnChange = "resetHiddenControlsforCanadaRefugee()"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "No",
                    Id = "CanadaRefugeeNo",
                    Model = "model.ParticipantInfoStep3ViewModel.CanadaRefugee",
                    Value = "false",
                    OnChange = "resetHiddenControlsforCanadaRefugee()"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep3ViewModel.CanadaRefugee", true)
        </div>
    </div>

    <div ng-show="model.ParticipantInfoStep3ViewModel.CanadaRefugee">
        @Html.DropDownList(new FormControl
        {
            Label = "From what country did you immigrate <abbr title='Required'>*</abbr>",
            Model = "model.ParticipantInfoStep3ViewModel.FromCountry",
            Options = "item.Key as item.Value for item in model.ParticipantInfoStep3ViewModel.ImmigrationCountries",
            CssClass = "input--medium",
            IsInnerModel = true,
            DefaultOverride = true
        })
    </div>

    <div ng-if="model.ParticipantInfoStep3ViewModel.PersonAboriginal == 2 || model.ParticipantInfoStep3ViewModel.PersonAboriginal == 3" class="form__group form__group--radio-inline">
        <div class="form__label">
            Do you identify yourself as a visible minority <abbr title="Required">*</abbr>
        </div>
        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Yes",
                    Id = "VisibleMinorityYes",
                    Model = "model.ParticipantInfoStep3ViewModel.VisibleMinority",
                    Value = "1"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "No",
                    Id = "VisibleMinorityNo",
                    Model = "model.ParticipantInfoStep3ViewModel.VisibleMinority",
                    Value = "2"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Prefer not to answer",
                    Id = "VisibleMinorityPreferNot",
                    Model = "model.ParticipantInfoStep3ViewModel.VisibleMinority",
                    Value = "3"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep3ViewModel.VisibleMinority", true)

            <br />
            <p class="inline-help">
                The Employment Equity Act defines visible minorities as "persons, other than Indigenous
                peoples, who are non-Caucasian in race or non-white in colour". The visible minority
                population consists mainly of the following groups: Chinese, South Asian, Black, Arab,
                West Asian, Filipino, Southeast Asian, Latin American, Japanese, and Korean.
            </p>
        </div>
    </div>

    <div class="form__group form__group--radio-inline">
        <div class="form__label">
            Gender <abbr title="Required">*</abbr>
        </div>
        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Male",
                    Id = "GenderMale",
                    Model = "model.ParticipantInfoStep3ViewModel.Gender",
                    Value = "1"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Female",
                    Id = "GenderFemale",
                    Model = "model.ParticipantInfoStep3ViewModel.Gender",
                    Value = "2"
                })
            </div>
            
            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Unspecified",
                    Id = "GenderPreferUnspecified",
                    Model = "model.ParticipantInfoStep3ViewModel.Gender",
                    Value = "4"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Prefer not to answer",
                    Id = "GenderPreferNot",
                    Model = "model.ParticipantInfoStep3ViewModel.Gender",
                    Value = "3"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep3ViewModel.Gender", true)
        </div>
    </div>

    <div ng-if="model.ParticipantInfoStep3ViewModel.Age >= 15 && model.ParticipantInfoStep3ViewModel.Age <= 24">
        <div class="form__group form__group--radio-inline">
            <div class="form__label">
                Have you been or are you a Youth in Care with the Ministry for Children and Family Development
            </div>

            <div>
                <div class="form-item">
                    @Html.RadioButton(new FormControl
                    {
                        Label = "Yes",
                        Id = "YouthInCareYes",
                        Model = "model.ParticipantInfoStep3ViewModel.YouthInCare",
                        Value = "true"
                    })
                </div>

                <div class="form-item">
                    @Html.RadioButton(new FormControl
                    {
                        Label = "No",
                        Id = "YouthInCareNo",
                        Model = "model.ParticipantInfoStep3ViewModel.YouthInCare",
                        Value = "false"
                    })
                </div>

                @Html.ValidationError("model.ParticipantInfoStep3ViewModel.YouthInCare", true)
            </div>
        </div>
    </div>

    <div class="form__group form__group--radio-inline">
        <div class="form__label">
            Do you consider yourself a person with a disability <abbr title="Required">*</abbr>
        </div>

        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Yes",
                    Id = "PersonDisabilityYes",
                    Model = "model.ParticipantInfoStep3ViewModel.PersonDisability",
                    Value = "1"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "No",
                    Id = "PersonDisabilityNo",
                    Model = "model.ParticipantInfoStep3ViewModel.PersonDisability",
                    Value = "2"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Prefer not to answer",
                    Id = "PersonDisabilityPreferNot",
                    Model = "model.ParticipantInfoStep3ViewModel.PersonDisability",
                    Value = "3"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep3ViewModel.PersonDisability", true)
        </div>
    </div>
    
    @Html.DropDownList(new FormControl
    {
        Label = "Marital Status",
        Model = "model.ParticipantInfoStep3ViewModel.MaritalStatusId",
        Options = "item.Key as item.Value for item in model.ParticipantInfoStep3ViewModel.MaritalStatuses",
        CssClass = "input--medium",
        IsInnerModel = true,
        DefaultOverride = true
    })

    @Html.TextBoxBlock(new FormControl
    {
        Label = "Number of dependents",
        Model = "model.ParticipantInfoStep3ViewModel.NumberOfDependents",
        IsInnerModel = true,
        Size = "input--small"
    })

    @Html.DropDownList(new FormControl
    {
        Label = "Official language <abbr title='Required'>*</abbr>",
        Model = "model.ParticipantInfoStep3ViewModel.FederalOfficialLanguageId",
        Options = "item.Key as item.Value for item in model.ParticipantInfoStep3ViewModel.FederalOfficialLanguages",
        CssClass = "input--medium",
        IsInnerModel = true,
        DefaultOverride = true
    })

    @Html.DropDownList(new FormControl
    {
        Label = "Highest level of education achieved <abbr title='Required'>*</abbr>",
        Model = "model.ParticipantInfoStep3ViewModel.EducationLevel",
        Options = "item.Key as item.Value for item in model.ParticipantInfoStep3ViewModel.EducationLevels",
        CssClass = "input--medium",
        IsInnerModel = true,
        DefaultOverride = true
    })

    <div ng-show="model.ParticipantInfoStep3ViewModel.EducationLevel > 1">
        @Html.TextBoxBlock(new FormControl
        {
            Label = "What is the name of the last high school you attended <abbr title='Required'>*</abbr>",
            Model = "model.ParticipantInfoStep3ViewModel.LastHighSchoolName",
            IsInnerModel = true
        })

        @Html.TextBoxBlock(new FormControl
        {
            Label = "What is the city of the last high school you attended <abbr title='Required'>*</abbr>",
            Model = "model.ParticipantInfoStep3ViewModel.LastHighSchoolCity",
            IsInnerModel = true
        })
    </div>

    <br />
    <p>Next step: Employment information</p>
</div>
