@using CJG.Core.Entities
@model CJG.Web.External.Areas.Part.Models.ParticipantInfoViewModel

<div ng-if="model.ParticipantInfoStep4ViewModel" ng-show="model.ParticipantInfoStep0ViewModel.Step == 4">
    <p class="subheader--step">Step 4 of {{model.ParticipantInfoStep0ViewModel.TotalSteps}}</p>
    <h2 class="subheader">Employment information</h2>

    @Html.DropDownList(new FormControl
    {
        Label = Model.ParticipantInfoStep1ViewModel.ProgramType == ProgramTypes.WDAService ?
            "Which best describes your employment status <b>on the first day</b> of training <abbr title='Required'>*</abbr>" :
            "Which best describes your employment status before starting the training <abbr title='Required'>*</abbr>",
        Model = "model.ParticipantInfoStep4ViewModel.EmploymentStatus",
        Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.EmploymentStatuses",
        CssClass = "input--full",
        IsInnerModel = true,
        DefaultOverride = true
    })

    @if (Model.ParticipantInfoStep1ViewModel.ProgramType == ProgramTypes.WDAService)
    {
        <div class="form__group form__group--radio-inline">
            <div class="form__label">
                Are you currently receiving Employment Insurance (EI) benefits?<abbr title="Required">*</abbr>
            </div>
            <div>
                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "Yes",
                        Id = "CurrentReceiveEIYes",
                        Model = "model.ParticipantInfoStep4ViewModel.CurrentReceiveEI",
                        Value = "true"
                    })
                </div>

                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "No",
                        Id = "CurrentReceiveEINo",
                        Model = "model.ParticipantInfoStep4ViewModel.CurrentReceiveEI",
                        Value = "false"
                    })
                </div>
                @Html.ValidationError("model.ParticipantInfoStep4ViewModel.CurrentReceiveEI", true)
                <p class="inline-help" ng-show="model.ParticipantInfoStep4ViewModel.CurrentReceiveEI">
                    If you have indicated that you are "currently receiving" EI benefits, the Program will inform the Ministry of Social Development and Poverty Reduction (SDPR) of the
                    appropriate training dates to ensure benefits are not discontinued during training.
                </p>
            </div>
        </div>

        <div ng-if="model.ParticipantInfoStep4ViewModel.CurrentReceiveEI">
            <div class="form__group form__group--radio-inline">
                <div class="form__label">
                    Are these maternal or paternal benefits <abbr title="Required">*</abbr>
                </div>

                <div>
                    <div class="form-item">
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "Yes",
                            Id = "MaternalPaternalYes",
                            Model = "model.ParticipantInfoStep4ViewModel.MaternalPaternal",
                            Value = "true"
                        })
                    </div>

                    <div class="form-item">
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "No",
                            Id = "MaternalPaternalNo",
                            Model = "model.ParticipantInfoStep4ViewModel.MaternalPaternal",
                            Value = "false"
                        })
                    </div>

                    @Html.ValidationError("model.ParticipantInfoStep4ViewModel.MaternalPaternal", true)
                </div>
            </div>
            <div class="form__group form__group--radio-inline">
                <div class="form__label">
                    Have you received EI benefits in the past?<abbr title="Required">*</abbr>
                </div>
                <div>
                    <div>
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "No",
                            Id = "EIBenefitNo",
                            Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                            Value = "1"
                        })
                    </div>

                    <div>
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "In last Month",
                            Id = "EIBenefitLastMonth",
                            Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                            Value = "2"
                        })
                    </div>

                    <div>
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "In last 3 months",
                            Id = "EIBenefitLastThreeMonth",
                            Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                            Value = "3"
                        })
                    </div>

                    <div>
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "In last 36 months (3 years)",
                            Id = "EIBenefitLastThreeYears",
                            Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                            Value = "4"
                        })
                    </div>

                    <div>
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "In last 60 months (5 years)",
                            Id = "EIBenefitLastFiveYears",
                            Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                            Value = "5"
                        })
                    </div>
                    @Html.ValidationError("model.ParticipantInfoStep4ViewModel.EIBenefit", true)
                    <p class="inline-help" ng-show="model.ParticipantInfoStep4ViewModel.CurrentReceiveEI">
                        If you are an active claimant in receipt of EI benefits, you must have prior approval from the Ministry of Social Development and Poverty Reduction (SDPR) to attend training
                        and continue to receive your EI benefits while in training. SDPR’s Service Delivery Division will be notified on your behalf for this training.
                    </p>
                </div>
            </div>
            <div ng-if="model.ParticipantInfoStep4ViewModel.EIBenefit == 2 || model.ParticipantInfoStep4ViewModel.EIBenefit == 3 ||
                         model.ParticipantInfoStep4ViewModel.EIBenefit == 4 || model.ParticipantInfoStep4ViewModel.EIBenefit == 5">
                <div class="form__group form__group--radio-inline">
                    <div class="form__label">
                        Were these maternal or paternal benefits <abbr title="Required">*</abbr>
                    </div>

                    <div>
                        <div class="form-item">
                            @Html.RadioButton(new FormControl()
                            {
                                Label = "Yes",
                                Id = "PastMaternalPaternalYes",
                                Model = "model.ParticipantInfoStep4ViewModel.PastMaternalPaternal",
                                Value = "true"
                            })
                        </div>

                        <div class="form-item">
                            @Html.RadioButton(new FormControl()
                            {
                                Label = "No",
                                Id = "PastMaternalPaternalNo",
                                Model = "model.ParticipantInfoStep4ViewModel.PastMaternalPaternal",
                                Value = "false"
                            })
                        </div>

                        @Html.ValidationError("model.ParticipantInfoStep4ViewModel.PastMaternalPaternal", true)
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="form__group form__group--radio-inline">
            <div class="form__label">
                Have you received or are you receiving Employment Insurance (EI) benefits <abbr title="Required">*</abbr>
            </div>

            <div>
                <div>
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "Currently receiving",
                        Id = "EIBenefitReceiving",
                        Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                        Value = "1"
                    })
                </div>

                <div>
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "In last Month",
                        Id = "EIBenefitLastMonth",
                        Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                        Value = "2"
                    })
                </div>

                <div>
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "In last 3 months",
                        Id = "EIBenefitLastThreeMonth",
                        Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                        Value = "3"
                    })
                </div>

                <div>
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "In last 36 months (3 years)",
                        Id = "EIBenefitLastThreeYears",
                        Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                        Value = "4"
                    })
                </div>

                <div>
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "In last 60 months (5 years)",
                        Id = "EIBenefitLastFiveYears",
                        Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                        Value = "5"
                    })
                </div>

                <div>
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "None of the above",
                        Id = "EIBenefitNoneAbove",
                        Model = "model.ParticipantInfoStep4ViewModel.EIBenefit",
                        Value = "6"
                    })
                </div>

                @Html.ValidationError("model.ParticipantInfoStep4ViewModel.EIBenefit", true)
                <p class="inline-help" ng-show="model.ParticipantInfoStep4ViewModel.EIBenefit == 1">
                    If you have indicated that you are "currently receiving" EI benefits, the Program will inform the Ministry of Social Development and Poverty Reduction (SDPR) of the
                    appropriate training dates to ensure benefits are not discontinued during training.
                </p>
            </div>
        </div>

        <div ng-if="model.ParticipantInfoStep4ViewModel.EIBenefit != 6">
            <div class="form__group form__group--radio-inline">
                <div class="form__label">
                    Were these maternal or paternal benefits <abbr title="Required">*</abbr>
                </div>

                <div>
                    <div class="form-item">
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "Yes",
                            Id = "MaternalPaternalYes",
                            Model = "model.ParticipantInfoStep4ViewModel.MaternalPaternal",
                            Value = "true"
                        })
                    </div>

                    <div class="form-item">
                        @Html.RadioButton(new FormControl()
                        {
                            Label = "No",
                            Id = "MaternalPaternalNo",
                            Model = "model.ParticipantInfoStep4ViewModel.MaternalPaternal",
                            Value = "false"
                        })
                    </div>

                    @Html.ValidationError("model.ParticipantInfoStep4ViewModel.MaternalPaternal", true)
                </div>
            </div>
        </div>
    }
    <div ng-if="model.ParticipantInfoStep4ViewModel.EmploymentStatus == 1">
        <div class="form__group form__group--radio-inline">
            <div class="form__label">
                Are you currently receiving Income Assistance (IA) <abbr title="Required">*</abbr>
            </div>

            <div>
                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "Yes",
                        Id = "BceaClientYes",
                        Model = "model.ParticipantInfoStep4ViewModel.BceaClient",
                        Value = "true"
                    })
                </div>

                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "No",
                        Id = "BceaClientNo",
                        Model = "model.ParticipantInfoStep4ViewModel.BceaClient",
                        Value = "false"
                    })
                </div>

                @Html.ValidationError("model.ParticipantInfoStep4ViewModel.BceaClient", true)

                <br />
                <p class="inline-help">
                    If you are an active claimant in receipt of Income Assistance (IA) benefits, you must have prior approval from the Ministry of Social Development and Poverty Reduction (SDPR) (1-866-866-0800)
                    to attend training  and continue to receive your IA benefits while in training. Please ensure you contact your Employment Assistance Worker prior to training at the
                    SDPR Service Delivery Division to ensure that your IA benefits will not be impacted by the training you are receiving.
                </p>
            </div>
        </div>
    </div>
    <div>

        <div class="form__group form__group--radio-inline" ng-if="model.ParticipantInfoStep4ViewModel.EmploymentStatus == 2 || model.ParticipantInfoStep4ViewModel.EmploymentStatus == 3">
            <div class="form__label">
                <span ng-if="model.ParticipantInfoStep0ViewModel.GrantProgramId == 2">
                    <!--2 is for ETG-->
                    Were you employed by @Model.ParticipantInfoStep1ViewModel.ProgramEmployerFullName supporting this training on @Model.ParticipantInfoStep0ViewModel.ApplicationSubmissionDate.ToShortDateString() ? <abbr title="Required">*</abbr>
                </span>
                <span ng-if="model.ParticipantInfoStep0ViewModel.GrantProgramId != 2">
                    Are you currently employed by the Employer supporting this training <abbr title="Required">*</abbr>
                </span>
            </div>

            <div>
                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "Yes",
                        Id = "EmployedBySupportEmployerYes",
                        Model = "model.ParticipantInfoStep4ViewModel.EmployedBySupportEmployer",
                        Value = "true"
                    })
                </div>

                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "No, by another employer",
                        Id = "EmployedBySupportEmployerNo",
                        Model = "model.ParticipantInfoStep4ViewModel.EmployedBySupportEmployer",
                        Value = "false"
                    })
                </div>

                @Html.ValidationError("model.ParticipantInfoStep4ViewModel.EmployedBySupportEmployer", true)
            </div>
        </div>

        <div class="form__group" ng-if="model.ParticipantInfoStep4ViewModel.EmploymentStatus == 2 || model.ParticipantInfoStep4ViewModel.EmploymentStatus == 3">
            <label class="form__label">How long have you been <span>{{selectedEmploymentStatus()}}</span> in this job <abbr title="Required">*</abbr></label>
            <div class="form__control">
                <div class="form__group--yearsmonths">
                    @Html.TextBox(new FormControl { CssClass = "no-generic-mask", Size = "input--small", Model = "model.ParticipantInfoStep4ViewModel.HowLongYears", Options = "maxlength = '2'" })
                    &nbsp;&nbsp;Years
                    &nbsp;&nbsp;
                    @Html.TextBox(new FormControl { CssClass = "no-generic-mask", Size = "input--small", Model = "model.ParticipantInfoStep4ViewModel.HowLongMonths", Options = "maxlength = '2'" })
                    &nbsp;&nbsp;Months
                </div>
                <div class="participant--employed-length-error">
                    @Html.ValidationError("model.ParticipantInfoStep4ViewModel.HowLongYears", true)
                    @Html.ValidationError("model.ParticipantInfoStep4ViewModel.HowLongMonths", true)
                </div>
            </div>
        </div>

        <div class="form__group form__group--radio-inline" ng-if="model.ParticipantInfoStep4ViewModel.EmploymentStatus == 2 || model.ParticipantInfoStep4ViewModel.EmploymentStatus == 3">
            <div class="form__label">
                <span ng-if="model.ParticipantInfoStep0ViewModel.GrantProgramId == 2">
                    Are you an owner or part-owner of @Model.ParticipantInfoStep1ViewModel.ProgramEmployerFullName <abbr title="Required">*</abbr>
                </span>
                <span ng-if="model.ParticipantInfoStep0ViewModel.GrantProgramId !== 2">
                    Are you an owner or part-owner of the Company / Business <abbr title="Required">*</abbr>
                </span>
            </div>

            <div>
                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "Yes",
                        Id = "BusinessOwnerYes",
                        Model = "model.ParticipantInfoStep4ViewModel.BusinessOwner",
                        Value = "true"
                    })
                </div>

                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "No",
                        Id = "BusinessOwnerNo",
                        Model = "model.ParticipantInfoStep4ViewModel.BusinessOwner",
                        Value = "false"
                    })
                </div>

                @Html.ValidationError("model.ParticipantInfoStep4ViewModel.BusinessOwner", true)
            </div>
        </div>

        <div ng-if="model.ParticipantInfoStep4ViewModel.EmploymentStatus == 2 || model.ParticipantInfoStep4ViewModel.EmploymentStatus == 3">
            @Html.TextBoxBlock(new FormControl()
            {
                Label = "Over the past 3 months, how many hours per week did you work on average <abbr title='Required'>*</abbr>",
                Model = "model.ParticipantInfoStep4ViewModel.AvgHoursPerWeek",
                IsInnerModel = true,
                Size = "input--small",
                Options = "maxlength = '3'"
            })

            @Html.DropDownList(new FormControl()
            {
                Label = "Type of employment <abbr title='Required'>*</abbr>",
                Model = "model.ParticipantInfoStep4ViewModel.EmploymentType",
                Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.EmploymentTypes",
                CssClass = "input--medium",
                IsInnerModel = true,
                DefaultOverride = true
            })

            <ul>
                <li>SEASONAL: you are working in an industry where employment levels rise or fall with the seasons (e.g., agriculture, fishing, logging, and tourism).</li>
                <li>TEMPORARY: your job has a predetermined end date or will end as soon as a specific project is completed.</li>
                <li>
                    CASUAL: your work hours vary substantially from one week to the next,
                    you are called to work by your employer when the need arises and not on a pre-arranged schedule,
                    or you do not usually get paid for time not worked and there is no indication from your employer about work on a regular basis for a long duration.
                </li>
                <li>PERMANENT: your job is expected to last as long as you want the job and as long as business conditions permit.</li>
            </ul>

            @Html.TextBoxBlock(new FormControl()
            {
                Label = "What is your <span ng-show='model.ParticipantInfoStep4ViewModel.EmploymentStatus == 2'>average </span>hourly wage (rounded to the nearest dollar) <abbr title='Required'>*</abbr>",
                Model = "model.ParticipantInfoStep4ViewModel.HourlyWage",
                IsInnerModel = true,
                Size = "input--small",
                Options = "maxlength = '5'"
            })
        </div>

        <div ng-if="model.ParticipantInfoStep4ViewModel.EmploymentStatus == 2 || model.ParticipantInfoStep4ViewModel.EmploymentStatus == 3">
            <div class="form__group form__group--radio-inline">
                <label class="form__label" for="">What is your <u><em>current</em></u> National Occupation Classification (NOC) <u><em>before training</em></u> <abbr title="Required">*</abbr></label>
                <div class="form__control">
                    <div class="form__group--multiselect">
                        @Html.DropDown(new FormControl()
                        {
                            Model = "model.ParticipantInfoStep4ViewModel.CurrentNoc1Id",
                            Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.CurrentNoc1Codes",
                            Size = "input--full",
                            IsInnerModel = true
                        })

                        @Html.DropDown(new FormControl()
                        {
                            Model = "model.ParticipantInfoStep4ViewModel.CurrentNoc2Id",
                            Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.CurrentNoc2Codes | filter:{Parent: model.ParticipantInfoStep4ViewModel.CurrentNoc1Id}:true",
                            Size = "input--full",
                            IsInnerModel = true
                        })

                        @Html.DropDown(new FormControl()
                        {
                            Model = "model.ParticipantInfoStep4ViewModel.CurrentNoc3Id",
                            Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.CurrentNoc3Codes | filter:{Parent: model.ParticipantInfoStep4ViewModel.CurrentNoc2Id}:true",
                            Size = "input--full",
                            IsInnerModel = true
                        })

                        @Html.DropDown(new FormControl()
                        {
                            Model = "model.ParticipantInfoStep4ViewModel.CurrentNoc4Id",
                            Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.CurrentNoc4Codes | filter:{Parent: model.ParticipantInfoStep4ViewModel.CurrentNoc3Id}:true",
                            Size = "input--full",
                            IsInnerModel = true
                        })
                    </div>
                </div>
            </div>

            @Html.TextBoxBlock(new FormControl
            {
                Label = "Current Job Title <abbr title='Required'>*</abbr>",
                Model = "model.ParticipantInfoStep4ViewModel.JobTitleBefore",
                Size = "input--full",
                IsInnerModel = true
            })

            @Html.TextBoxBlock(new FormControl()
            {
                Label = "In what city do you <u><em>currently</em></u> perform your work <abbr title='Required'>*</abbr>",
                Model = "model.ParticipantInfoStep4ViewModel.PrimaryCity",
                IsInnerModel = true
            })
        </div>

        <div class="form__group form__group--radio-inline">
            <label class="form__label" for="">What <u><em>will</em></u> your National Occupation Classification (NOC) be <u><em>after training</em></u> <abbr title="Required">*</abbr></label>
            <div class="form__control">
                <div class="form__group--multiselect">
                    @Html.DropDown(new FormControl()
                    {
                        Model = "model.ParticipantInfoStep4ViewModel.FutureNoc1Id",
                        Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.FutureNoc1Codes",
                        Size = "input--full",
                        IsInnerModel = true
                    })

                    @Html.DropDown(new FormControl()
                    {
                        Model = "model.ParticipantInfoStep4ViewModel.FutureNoc2Id",
                        Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.FutureNoc2Codes | filter:{Parent: model.ParticipantInfoStep4ViewModel.FutureNoc1Id}:true",
                        Size = "input--full",
                        IsInnerModel = true
                    })

                    @Html.DropDown(new FormControl()
                    {
                        Model = "model.ParticipantInfoStep4ViewModel.FutureNoc3Id",
                        Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.FutureNoc3Codes | filter:{Parent: model.ParticipantInfoStep4ViewModel.FutureNoc2Id}:true",
                        Size = "input--full",
                        IsInnerModel = true
                    })

                    @Html.DropDown(new FormControl()
                    {
                        Model = "model.ParticipantInfoStep4ViewModel.FutureNoc4Id",
                        Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.FutureNoc4Codes | filter:{Parent: model.ParticipantInfoStep4ViewModel.FutureNoc3Id}:true",
                        Size = "input--full",
                        IsInnerModel = true
                    })
                </div>
            </div>
        </div>

        @Html.TextBoxBlock(new FormControl
        {
            Label = "After Training Job Title <abbr title='Required'>*</abbr>",
            Model = "model.ParticipantInfoStep4ViewModel.JobTitleFuture",
            Size = "input--full",
            IsInnerModel = true
        })
    </div>

    <div class="form__group form__group--radio-inline">
        <div class="form__label">
            Are you an apprentice <abbr title="Required">*</abbr>
        </div>

        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "Yes",
                    Id = "ApprenticeYes",
                    Model = "model.ParticipantInfoStep4ViewModel.Apprentice",
                    Value = "true"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl
                {
                    Label = "No",
                    Id = "ApprenticeNo",
                    Model = "model.ParticipantInfoStep4ViewModel.Apprentice",
                    Value = "false"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep4ViewModel.Apprentice", true)
        </div>
    </div>

    <div ng-if="model.ParticipantInfoStep4ViewModel.Apprentice">
        <div class="form__group form__group--radio-inline">
            <div class="form__label">
                Are you registered with the Industry Training Authority (ITA) <abbr title="Required">*</abbr>
            </div>

            <div>
                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "Yes",
                        Id = "ItaRegisteredYes",
                        Model = "model.ParticipantInfoStep4ViewModel.ItaRegistered",
                        Value = "true"
                    })
                </div>

                <div class="form-item">
                    @Html.RadioButton(new FormControl()
                    {
                        Label = "No",
                        Id = "ItaRegisteredNo",
                        Model = "model.ParticipantInfoStep4ViewModel.ItaRegistered",
                        Value = "false"
                    })
                </div>

                @Html.ValidationError("model.ParticipantInfoStep4ViewModel.ItaRegistered", true)
            </div>
        </div>
    </div>

    <div class="form__group form__group--radio-inline">
        <div class="form__label">
            On the first day of training will you be participating in any other provincially or federally funded training programs <abbr title="Required">*</abbr>
        </div>

        <div>
            <div class="form-item">
                @Html.RadioButton(new FormControl()
                {
                    Label = "Yes",
                    Id = "OtherProgramsYes",
                    Model = "model.ParticipantInfoStep4ViewModel.OtherPrograms",
                    Value = "true"
                })
            </div>

            <div class="form-item">
                @Html.RadioButton(new FormControl()
                {
                    Label = "No",
                    Id = "OtherProgramsNo",
                    Model = "model.ParticipantInfoStep4ViewModel.OtherPrograms",
                    Value = "false"
                })
            </div>

            @Html.ValidationError("model.ParticipantInfoStep4ViewModel.OtherPrograms", true)
        </div>
    </div>

    <div ng-if="model.ParticipantInfoStep4ViewModel.OtherPrograms">
        @Html.TextBoxBlock(new FormControl()
        {
            Label = "Please describe the provincially or federally funded program <abbr title='Required'>*</abbr>",
            Model = "model.ParticipantInfoStep4ViewModel.OtherProgramDesc",
            IsInnerModel = true,
            Size = "input--full"
        })
    </div>

    @Html.DropDownList(new FormControl()
    {
        Label = "What do you expect will be the most important result of training <abbr title='Required'>*</abbr>",
        Model = "model.ParticipantInfoStep4ViewModel.TrainingResult",
        Options = "item.Key as item.Value for item in model.ParticipantInfoStep4ViewModel.TrainingResults",
        CssClass = "input--full",
        IsInnerModel = true,
        DefaultOverride = true
    })

    <br />

    <p ng-if="model.ParticipantInfoStep0ViewModel.ReportedByApplicant">NEXT STEP: Confirmation of Completion</p>

    <p ng-if="!model.ParticipantInfoStep0ViewModel.ReportedByApplicant">NEXT STEP: Consent for Collection and Use of Personal Information</p>
</div>
