@model CJG.Web.External.Areas.Part.Models.ParticipantInfoViewModel
@{
    ViewBag.Title = "Participant info collection";
}

<script type="text/javascript">
    function getViewModel() {
        return @Html.Raw(Json.Encode(Model));
    }
</script>

<div class="main" ng-controller="ParticipantInformationView" ng-init="init()" ng-session-duration="@Model.ParticipantInfoStep1ViewModel.TimeoutPeriod">
    <div class="form-section">
        <div class="float-left">
            <h1 class="header__title">Participant information collection</h1>
        </div>
    </div>

    <div ng-if="alert.message" class="row row--alert">
        <div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
    </div>

    @Html.Partial("_Step2")
    @Html.Partial("_Step3")
    @Html.Partial("_Step4")
    @Html.Partial("_Step5")

    <div class="button-group">
        <button type="button"
                class="btn btn--secondary btn--back"
                ng-click="previous()"
                ng-show="model.ParticipantInfoStep0ViewModel.Step > 2">
            Previous
        </button>
        <button type="button"
                class="btn btn--primary btn--forward"
                style="float: right;"
                ng-click="next()"
                ng-show="model.ParticipantInfoStep0ViewModel.Step < 5">
            Continue
        </button>
        <button type="button"
                class="btn btn--primary"
                ng-click="cancel()"
                ng-show="model.ParticipantInfoStep0ViewModel.Step == 5">
            I do not provide my consent
        </button>
    </div>
</div>
