@using CJG.Web.External.Areas.Ext.Controllers
@{
    ViewBag.Title = "";
}

<style>
    .border-bottom {
        border-bottom: 1px solid;
    }
</style>

<div ng-controller="EmploymentServicesView" ng-grant-application-id="@ViewBag.GrantApplicationId" ng-eligible-expense-type-id="@ViewBag.EligibleExpenseTypeId" ng-eligible-cost-id="@ViewBag.EligibleCostId">
    <div class="row">
        <a class="link--back" href="/Ext/Application/Overview/View/{{model.GrantApplicationId}}">Return</a>
    </div>

    <div class="row">
        <div class="main" role="main">
            <h1 class="header--large">Edit {{model.EligibleExpenseType.Caption}}</h1>

            <div ng-if="alert.message" class="row row--alert">
                <div class="alert" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message"></div>
            </div>

            <div>
                <p ng-bind-html="model.EligibleExpenseType.Description"></p>
                <p>Identify the {{model.EligibleExpenseType.Caption}} you will be delivering in your program by checking the boxes that apply below.</p>
            </div>

            <div>
                <b>Services to be delivered*</b>
            </div>

            <div ng-validation="errors.EligibleExpenseBreakdowns">
                <table>
                    <thead>
                        <tr class="border-bottom">
                            <th style="width: 30%">Service</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.EligibleExpenseType.EligibleExpenseBreakdowns | orderBy: 'RowSequence'" class="border-bottom" style="vertical-align: top">
                            <td>
                                <input type="checkbox" ng-model="item.Selected" id="service-{{$index}}" name="service-{{$index}}" />
                                <label for="service-{{$index}}">{{item.Caption}}</label>
                            </td>
                            <td>
                                <p ng-bind-html="item.Description"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form__group input-inline-align input-right-align">
                <div class="label-wrapper"><label class="form__label">Total Cost <abbr title="Required">*</abbr></label></div>
                <p class="ng-binding">Enter the total cost for {{model.EligibleExpenseType.Caption}} for the number of participants you have entered in the Program Description</p>
                <div class="control-wrapper form-control">
                    <input type="text" class="input--medium" ng-model="model.EstimatedCost" ng-currency ng-validation>
                </div>
            </div>

            <div class="button-group">
                @Html.Button("Cancel",
                new
                {
                    @class = "btn btn--secondary",
                    @onclick = "window.location='" +
                        @Url.Action(nameof(ApplicationController.ApplicationOverviewView),
                            nameof(ApplicationController).Replace("Controller", ""),
                            new { grantApplicationId = (int)ViewBag.GrantApplicationId }) + "'"
                })
                <button type="button" class="btn btn--primary btn--forward" ng-click="save()">Done</button>
            </div>
        </div>
    </div>
</div>
