@{
    ViewBag.Title = "Claim Assessment";
}
<div class="block--claim-assessment" ng-controller="ClaimAssessmentView" grant-application-id="@ViewBag.GrantApplicationId" claim-id="@ViewBag.ClaimId" claim-version="@ViewBag.ClaimVersion">
    <div id="dialogs"></div>
    <div class="application">
        <div class="application-header">
            <div class="clearfix">
                <p class="no-margin">
                    <a class="link--back no-margin-force" href="/Int/Application/Details/View/@ViewBag.GrantApplicationId">Return</a>
                </p>
                <p class="grant-summary__filenbr">
                    {{claim.FileNumber}} {{claim.FileName}} (start date {{toPST(claim.StartDate)}})
                </p>
                <h1>{{claim.OrganizationLegalName}}</h1>
            </div>
            <div class="display-inline-block">
                <button ng-repeat="button in claim.Workflow.WorkflowButtons"
                        class="btn btn--secondary"
                        ng-class="btn--button.Value"
                        data-disableonsubmit="false"
                        ng-click="handleWorkflow(button.Url, button.Value)"
                        ng-disabled="button.IsDisabled"
                        title="{{button.Information}}"
                        style="pointer-events:auto;">
                    {{button.Caption}}
                </button>
            </div>
        </div>
        <div class="application-body">
            <div>
                @Html.Partial("_ClaimAssessmentSummary", "claim")
            </div>
            <hr/>
            @Html.Partial("_ClaimAssessmentDetails", "claim")
            <br/>
            <div class="block--claim-assessment-expense-type">
                @Html.Partial("_ClaimAssessmentAttachment", "claim")
            </div>
        </div>
        <div class="application-sidebar">
            @Html.Partial("~/Areas/Int/Views/Note/_Notes.cshtml")
        </div>
    </div>
</div>
