@{
	Layout = "~/Views/Shared/Master.cshtml";
}
@* Scripts that should be added before the closing </head> tag *@
@section HeadScripts {
	@Html.Partial("GoogleAnalytics")
    <script src="~/Scripts/jquery-3.4.1/jquery-3.4.1.min.js"></script>
}
@* Scripts that should be added before the closing </body> tag *@
@section Scripts {
	<script src="~/Scripts/angular-1.7.8/angular.min.js"></script>
	<script src="~/Scripts/angular-1.7.8/angular-sanitize.js"></script>
	<script src="~/Scripts/angular-1.7.8/ngDialog.min.js"></script>
	<script src="~/Scripts/angular-1.7.8/moment.min.js"></script>
	<script src="~/Scripts/angular-1.7.8/moment-timezone.min.js"></script>
	<script src="~/Scripts/angular-1.7.8/moment-timezone-with-data.min.js"></script>
	<script src="~/Scripts/angular-1.7.8/angular-moment.min.js"></script>
	<script src="~/Scripts/angular-1.7.8/ng-loading-overlay.min.js"></script>
	<script src="https://cdn.tiny.cloud/1/ne7sj6l952t6973w2yrbbavskqrlkl5nvz89j0h11endvj03/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="~/Scripts/angular-1.7.8/tinymce.min.js"></script>
	<script src="/js/participant-confirmation.js?v=@ViewBag.Version.ToString()"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoad&render=explicit" async defer></script>
	<script>
		window.version = '@ViewBag.Version.ToString()';
	</script>
}
<div>
    <div>
        <div class="header">
            <div class="container">
                <div class="side-padding">
                    <div class="row menu--item__wrapper">
                        @Html.Partial("~/Views/Shared/HeaderLogo.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-container ng-cloak" ng-app="grantApp" ng-cloak>
        <div class="side-padding">
            @Html.Partial("Alert", new ViewDataDictionary(ViewData) {
                { "alertMessage", ViewBag.Message },
                { "alertType", ViewBag.MessageType }
            })
            @if (TempData["Message"] != null)
            {
                ViewBag.Message = TempData["Message"].ToString();
                TempData["Message"] = "";
            }
            @RenderBody()
        </div>
    </div>
    <div>
        @Html.Partial("Footer")
    </div>
</div>