@{
    Layout = "~/Views/Shared/Master.cshtml";
    string className = ViewBag.IsApplicationDetails != null ? "application-details" : "";
    string ParticipantInfo = ViewBag.ParticipantInfo != null ? "participant-info" : "";
}

@section Styles {
    @RenderSection("Styles", required: false)
}

@section HeadScripts {
    @RenderSection("HeadScripts", required: false)
}

@* Scripts that should be added before the closing </body> tag *@
@section Scripts {
    <script src="~/Scripts/angular-1.7.8/angular.min.js"></script>
    <script src="~/Scripts/angular-1.7.8/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-1.7.8/ngDialog.min.js"></script>
    <script src="~/Scripts/angular-1.7.8/moment.min.js"></script>
    <script src="~/Scripts/angular-1.7.8/moment-timezone.min.js"></script>
    <script src="~/Scripts/angular-1.7.8/moment-timezone-with-data.min.js"></script>
    <script src="~/Scripts/angular-1.7.8/angular-moment.min.js"></script>
    <script src="~/Scripts/angular-1.7.8/ng-loading-overlay.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ne7sj6l952t6973w2yrbbavskqrlkl5nvz89j0h11endvj03/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/Scripts/angular-1.7.8/tinymce.min.js"></script>
    <script src="~/js/internal.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        window.version = '@ViewBag.Version.ToString()';
        console.log(window.version);
    </script>
}

<div class="layout-internal @className @ParticipantInfo">
    @Html.Action("InternalHeaderPartial", "Home")
    <div class="container">
        <div class="main ng-cloak" ng-app="grantApp" ng-cloak>

            @Html.Partial("Alert", new ViewDataDictionary(ViewData) {
            { "alertMessage", ViewBag.Message },
            { "alertType", ViewBag.MessageType }
            })

            @RenderBody()
        </div>
    </div>
</div>

