@model CJG.Web.External.Areas.Int.Models.ParticipantEmploymentInfoViewModel

<div class="infoTable">
    <div class="infotable-tbody">
        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Employment status:</div>
                    <div class="infoTable--data">@Model.EmploymentStatus</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">City of work:</div>
                    <div class="infoTable--data">@Model.CityofWork</div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable">
                    <div class="infotable-tr">
                        <div class="infotable-td">
                            <div class="infoTable--cell-wrap">
                                <div class="infoTable--label">Receiving EI:</div>
                                <div class="infoTable--data">@Model.ReceivingEIValue</div>
                            </div>
                        </div>
                    </div>
                    <div class="infotable-tr">
                        <div class="infotable-td">
                            <div class="infoTable--cell-wrap">
                                <div class="infoTable--label">- Maternal / Parental Benefits:</div>
                                <div class="infoTable--data">@Model.MaternalParentalBenefits</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable">
                    <div class="infotable-tr">
                        <div class="infoTable--cell-wrap">
                            <div class="infoTable--label">Before Training National Occupation Code:</div>
                            <div class="infoTable--data">
                                @if (Model.CurrentNocLevel4 != null)
                                {
                                    <span class="participant-noc">@Model.CurrentNocLevel4</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="infotable-tr">

                        <div class="infoTable--cell-wrap">
                            <div class="infoTable--label">After Training National Occupation Code:</div>
                            <div class="infoTable--data">
                                @if (Model.FutureNocLevel4 != null)
                                {
                                    <span class="participant-noc">@Model.FutureNocLevel4</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Receiving IA:</div>
                    <div class="infoTable--data">@Model.ReceivingIA</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--cell-wrap">
                        <div class="infoTable--label">Apprentice:</div>
                        <div class="infoTable--data">@Model.Apprentice</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Employed by the Employer:</div>
                    <div class="infoTable--data">@Model.EmployedByEmployer</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">- ITA Registered:</div>
                    <div class="infoTable--data">@Model.ITARegistered</div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Duration of employment:</div>
                    <div class="infoTable--data">@Model.DurationOfEmployment</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Participating in other funding program:</div>
                    <div class="infoTable--data">@Model.ParticipatingInOtherFundingProg</div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Is an owner of business:</div>
                    <div class="infoTable--data">@Model.OwnerOfBusiness</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">- Program Description:</div>
                    <div class="infoTable--data">@Model.OtherProgramDesc</div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Hours per week (last 3 months):</div>
                    <div class="infoTable--data">@Model.HoursPerWeek</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Hourly Wage:</div>
                    <div class="infoTable--data">@Model.AverageHourlyWage</div>
                </div>
            </div>
        </div>

        <div class="infotable-tr">
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Type of Employment:</div>
                    <div class="infoTable--data">@Model.TypeOfEmployment</div>
                </div>
            </div>
            <div class="infotable-td">
                <div class="infoTable--cell-wrap">
                    <div class="infoTable--label">Most important result:</div>
                    <div class="infoTable--data">@Model.MostImportantResult</div>
                </div>
            </div>
        </div>
    </div>
</div>