@model CJG.Web.External.Areas.Int.Models.ParticipantInfoViewModel

<table class="form__group--data-grid">
    <thead>
        <tr>
            <th class="data-grid-header">File No.</th>
            <th class="data-grid-header">Training Start Date</th>
            <th class="data-grid-header">Training End Date</th>
            <th class="data-grid-header">Training Stream</th>
            <th class="data-grid-header">Application Status</th>
            <th class="data-grid-header">Training Provider</th>
            <th class="data-grid-header">Training Course</th>
            <th class="data-grid-header">Approved Gov't Contribution</th>
            <th class="data-grid-header">Amount Paid or Owing</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hist in Model.TrainingHistory)
        {
            <tr>
                <td><a href="/Int/Application/Details/View/@hist.GrantId" target="_blank">@hist.FileNo</a></td>
                <td>@hist.TrainingStartDate.ToString("yyyy-MM-dd")</td>
                <td>@hist.TrainingEndDate.ToString("yyyy-MM-dd")</td>
                <td>@hist.TrainingStream</td>
                <td>@hist.ApplicationStatus</td>
                <td>@hist.TrainingProvider</td>
                <td>@hist.TrainingCourse</td>
                <td class="data-grid-right-data">@hist.ApprovedGovtContribution</td>
                <td class="data-grid-right-data">@hist.AmountPaid</td>
            </tr>
        }
    </tbody>
</table>